@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-0);
  background: var(--bg-2);
  font-family: var(--font);
}

body {
  padding: var(--spacing);
  gap: var(--spacing);
  background-color: var(--bg-1);
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-width: 550px;
  min-height: 100vh;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
          -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

header, section, .qrcode_panel {
  margin-left: 250px;
  margin-right: 250px;
  border-radius: var(--roundness-xl);
  border: #323134 solid .5px;
  transition: .3s ease-in-out;
}

:root {
  --font: 'Poppins';

  --scan-color: #DF2050;
  --scrollbar-thumb: #75777B;

  --text-0: #fff;
  --text-1: #818CF8;

  --bg-1: #101014;
  --bg-2: #1C1C20;

  --hover-1: hsl(165 75% 50%);
  --hover-2: #1E1B4B;

  --spacing: 12px;

  --roundness-xl: 22px;
  --roundness-m: 16px;
  --roundness-s: 12px;
  --roundness-xs: 10px;

  --font-xxl: 70px;
  --font-xl: 60px;
  --font-l: 50px;
  --font-m: 40px;
  --font-s: 35px;
  --font-xs: 30px;
  --font-xxs: 20px;
  --font-xxxs: 17px;

}

.navbar {
  position: relative;
  display: flex;
  padding: 30px 100px;
  justify-content: space-between;
  align-items: center;
  border-radius: inherit;
}

.navbar img {
  width: auto;
  height: 35px;
}

.navbar_btn {
  display: flex;
  margin: 0;
  text-align: right;
}

.navbar_btn a {
  background: transparent;
  position: relative;
  padding: 5px;
  margin-left: 35px;
  font-size: var(--font-xs);
  font-weight: 500;
  text-decoration: none;
  transition: .3s ease-in-out;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: var(--hover-1);
  transition: .3s;
}

.navbar a:hover {
  color: var(--hover-1);
}

.navbar a:hover::before {
  width: 100%;
}

.section_0 {
  margin: 50px 100px;
  justify-content: center;
  align-items: center;
}

.section_0 h2 {
  font-style: italic;
  font-weight: 600;
  font-size: 25px;
  background-color: transparent;
}

.section_0 h1 {
  width: 800px;
  background-color: transparent;
  font-size: var(--font-l);
  transition: .3s ease-in-out;
}

.description {
  width: 95%;
  margin-top: 20px;
  font-size: 25px;
  transition: .3s ease-in-out;
}

.scan_btn {
  margin-top: 15px;
}

.scan_btn button {
  background: var(--scan-color);
  margin-top: 30px;
  padding: 20px 80px 20px 80px;
  border: none;
  border-radius: 100px;
  font-size: var(--font-xxs);
  cursor: pointer;
}

.section_1, .section_2, .credits {
  display: flex;
  margin: 50px 100px;
  font-size: var(--font-xxl);
  gap: 10px;
  flex-direction: column;
}

.section_1 h1, .section_2 h1{
  font-size: var(--font-m);
}

.section_1 p, .section_2 p, .credits p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-xxs);
}





::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}

/* scrollbar total (fond et curseur) */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent
}

/* background */
::-webkit-scrollbar-track-piece {
  background: var(--bg-1);
}

/* cursor */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--roundness-xl);
} 





@media only screen and (max-width: 1450px) {
  header, section, .qrcode_panel {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media only screen and (max-width: 1230px) {
  header, section, .qrcode_panel {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media only screen and (max-width: 1100px) {
  .navbar {
    padding: 30px 50px;
  }

  .navbar a {
    font-size: 25px;
  }

  .section_0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section_0 h2 {
    width: 500px;
    font-size: var(--font-xxs);
    text-align: center;
  }

  .section_0 h1 {
    width: 500px;
    font-size: var(--font-m);
    text-align: center;
  }

  .description {
    width: 100%;
    font-size: var(--font-xxs);
    text-align: center;
  }

  .scan_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .scan_btn button {
    font-size: var(--font-xxs);
  }

  .section_1, .section_2 {
    margin: 50px;
  }

  .section_1 h1, .section_2 h1 {
    font-size: var(--font-xs);
  }

  .credits {
    margin: 25px 50px 25px 50px;
  }
}

@media only screen and (max-width: 850px) {
  header, section, .qrcode_panel {
    margin-left: 100px;
    margin-right: 100px;
  }

  .description {
    width: 400px;
  }
}

@media only screen and (max-width: 720px) {
  header, section, .qrcode_panel {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .navbar {
    padding: 18px 50px;
  }

  .navbar a{
    font-size: var(--font-xxs);
  }

  .section_0 h1 {
    font-size: var(--font-s);
  }

  .scan_btn button {
    font-size: var(--font-xxs);
  }
}

@media only screen and (max-height: 750px) {
  .description {
    display: none;
  }

  .scan_btn {
    margin-top: 115px;
    margin: 0;
  }
}






@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
