* {
  transition: .3s;
}

.qrcode_panel {
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
  background: var(--bg-3);
}

.side_menu_left {
  min-width: 325px;
  padding: 100px 50px 100px 50px;
  text-align: left;
  border-radius: var(--roundness-xl);
  font-size: var(--font-xxxs);
}

.side_menu_left dl {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.side_menu_left dt {
  padding: 8px;
  border-radius: var(--roundness-xs);
}

.side_menu_left dt:hover {
  background: var(--hover-2);
  padding-left: var(--spacing);
  cursor: pointer;
}

.side_menu_left dt:hover a {
  color: var(--text-1);
}

.side_menu_left a {
  text-decoration: none;
  background: transparent;
}

.content {
  width: 100%;
  border-radius: var(--roundness-xl);
  text-align: center;
  padding-bottom: calc(25px + var(--spacing));
}

.content h1 {
  width: 400px;
  font-size: var(--font-m);
  background-color: transparent;
}

.qrcode_frame {
  display: flex;
  margin: 10px 15% 60px 15%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.qrcode_frame h1 {
  padding: 50px 0px 50px 0px;
}

.qrcode_frame img {
  margin: 0px auto 0px auto;
  border: 10px solid red;
  border-radius: var(--roundness-m);
}

.input input {
  width: inherit;
  padding: 15px 25px;
  border-radius: var(--roundness-s);
  font-size: var(--font-xxs);
  text-align: left;
}

input:focus {
  outline: none;
}


/* JAVASCRIPT CLASS */

.disabled {
  color: grey;
  font-style: italic;
}

@media only screen and (max-width: 1900px) {
  .content h1{
    font-size: var(--font-xs);
  }
}

@media only screen and (max-width: 1700px) {
  .side_menu_left {
    min-width: 305px;
    padding-left: 30px;
  }
}

@media only screen and (max-width: 1100px) {
  .side_menu_left {
    display: none;
  }

  .content h1 {
    padding: 25px 0px 50px 0px;
    font-size: var(--font-xs);
  }
}
