* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background: black;
  background-size: cover;
  background-position: center;
  cursor: none;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid #d9d927;
}

.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

img {
  display: block;
  margin: 0px;
}

.img_credits {
  height: 1056px
}

/* scrollbar total */
 ::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: black
}

::-webkit-scrollbar-track-piece {
  background: #131216;
  border-radius: 60px;
  margin-top: 325px;
  margin-bottom: 375px;
}

/* cursor */
::-webkit-scrollbar-thumb {
  background: #06068a;
  border-radius: 60px;
  outline: 1px solid black;
}
