@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background: hsl(270 70% 6%);
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
          -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: auto;
  height: 35px;
}

.navbar_btn a {
  background: transparent;
  position: relative;
  padding: 5px;
  margin-left: 35px;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: hsl(165 75% 50%);
  transition: .3s;
}

.navbar a:hover {
  color: hsl(165 75% 50%);
}

.navbar a:hover::before {
  width: 100%;
}

.section_0 {
  overflow-y: auto;
  padding: 150px 0px 0px 100px;
  justify-content: center;
  align-items: center;
}

.title h2 {
  font-style: italic;
  font-weight: 600;
  font-size: 25px;
}

.title h1 {
  font-weight: 500;
  font-size: 70px;
  width: 800px;
}

.line {
  padding-top: 50px;
  padding-bottom: 50px;
}

.text_presentation {
  padding-top: 20px;
  font-size: 25px;
}

.menu-btn {
  display: flex;
  justify-content: left;
}

.scan_btn {
  padding-top: 115px;
}

.scan_btn button {
  background: #DF2050;
  padding: 20px 80px 20px 80px;
  border-radius: 100px;
  font-size: 30px;
}

.down_arrow {
  padding: 50px 0px 50px 930px;
}

.down_arrow img {
  width: 50px;
}

.section_1 {
  overflow-y: auto;
  padding: 100px 100px;
  text-align: center;
  font-size: x-large;
}

.section_1 img {
  padding: 50px;
}

.section_1 p {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section_2 {
  overflow-y: auto;
  padding: 100px 100px;
  text-align: center;
  font-size: x-large;
}

.section_2 img {
  padding: 50px;
}

.section_2 p {
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section_3 {
  overflow-y: auto;
  padding: 250px 0px 150px 0px;
  text-align: center;
  font-size: x-large;
}










::-moz-selection {
  color: #fff;
  background-color: hsla(340, 100%, 75%, 0.5);
}

::selection {
  color: #fff;
  background-color: hsla(340, 100%, 75%, 0.5);
}


/* scrollbar total (fond et curseur) */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent
}

/* background */
::-webkit-scrollbar-track-piece {
  background: transparent;
  border-radius: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

/* cursor */
::-webkit-scrollbar-thumb {
  background: hsl(45 90% 65%);
  border-radius: 60px;
  outline: 1px solid black;
} 






@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}